<!DOCTYPE html>
<html>
<head>
    <title>게시물 작성</title>
</head>
<body>
<h1>게시물 작성</h1>
<form action="/write-post" method="post">
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <div>
        <label for="author">쓴 사람:</label>
        <input type="text" id="author" name="author" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
