<!DOCTYPE html>
<html>
<head>
    <title>게시물 목록</title>
</head>
<style>
    #tb{
        text-align: center;
        border-color: black;
    }
    table,th,td{
        border: 1px solid black;
    }
</style>
<body>
<h1>게시물 목록</h1>
<table  id="tb">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시물 목록을 반복해서 출력 -->
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.author}"></td>
    </tr>
    </tbody>
</table>
<input type="button" value="작성" onclick="location.href='post'">
<input type="button" value="작성" onclick="location.href='register'">
</body>
</html>