<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<style>
    div{
        display:block;
    }
</style>
<body>
<h1>게시물 상세 페이지</h1>
<div th:if="${post}">
    <div>
        <h1>제목 : </h1>
        <h2 th:text="${post.title}"></h2>
    </div>
    <div>
        <h3>내용 : </h3>
        <p th:text="${post.content}"></p>
    </div>
    <div>
        <h5>쓴 사람 : </h5>
        <p th:text="${post.author}"></p>
    </div>
</div>
<div th:unless="${post}">
    <p>Post not found.</p>
</div>
</body>
</html>